{
  "extends": [
    "eslint-config-ali/typescript/react",
    "eslint-config-ali/jsx-a11y",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
